.you-tube-container {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
    text-align: center;
}

.you-tube-container > * {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
