.exercise-plan-toolbar {
    margin-bottom: 20px;
}

.exercise-plan-card {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.exercise-plan-card:first-child {
    margin-top: 0;
}

.exercise-plan-card:last-child {
    margin-bottom: 0;
}

.exercise-plan-card--not_started {
    background-color: #fafafa;
}

.exercise-plan-card--started {
    background-color: #fff8e1;
}

.exercise-plan-card--skipped {
    background-color: #ffebee;
}

.exercise-plan-card--done {
    background-color: #e8f5e9;
}

.DayPicker-Day--isNotEmpty {
    color: dodgerblue;
    font-weight: bold;
}
